html, body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
    background-color: #6085ff;
    /* #6085ff, #ff6060, #00ff95 */
}

.header-text {
    color: white;
    font-size: 30px;
}

.header-bar {
    white-space: nowrap;
    background-color: #1b1b1b;
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.header-buttons {
    padding: 0;
    margin-top: 10px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
}

.header-buttons-front {
    border: none;
    display: block;
    padding: 7px;
    transform: translateY(-5px);
}

.header-buttons-front-bw {
    border: none;
    display: block;
    padding: 7px;
    background: linear-gradient(to right, #ffffff 50%, #575757 50%);
    transform: translateY(-5px);
}

.header-buttons:hover .header-buttons-front {
    transform: translateY(-2px);
}

.header-buttons:hover .header-buttons-front-bw {
    transform: translateY(-2px);
}

.button-container {
    margin-top: 5px;
    margin-left: 50px;
}

.sub-header {
    color: #e2e2e2;
    font-size: 10px;
    padding: 10px;
}
