
.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  color: #ffffff;
  font-size: 30px;
  background: none;
}

.nav-menu {
  background-color: #060b26;
  opacity: 0.9;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  overflow:hidden;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;

}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  align-items: center;
  height: 8%;
}

.nav-menu-items {
  width: 100%;
}
