
.survey {
  display: flex;
  justify-content: flex-start;
}
  
.survey-icon {
  color: #ffffff;
  font-size: 30px; 
  padding-right: 10px;
  padding-left: 3px;
  background: none;
}

.survey-icon:hover{
  color: #00ff95c5;
  transition: 250ms;
  transform: scale(1.2,1.2);
}

.survey-close {
  color: #000000;
  opacity: 0.5;
  font-size: 20px;

}

.survey-form {
  background-color: #000000a8;
  border-radius: 33px; /* curves the borders */
  overflow:hidden;
  width: 1695px; /* og 500px */
  height: 765px;
  display: flex;
  position: fixed;
  left: 5px; /*og 400px */
  top: 65px;
  opacity: 0;
  transition: 350ms;
}

.survey-form.active {
  opacity: 1;
  transition: 350ms;
}

.survey-category {
  display: flex;
}

.survey-text {
  color: #ffffff;
  display: flex;
  font-size: 50px; /*og 20px */
  padding-top: 5px;
  margin-right: auto;
}

.survey-subtext {
  margin-left: auto;
  color: #ffffff;
  display: flex;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.survey-button-holder {
  margin-right: 100px; /*og 70px */
}

.survey-buttons {
  background-color: #00000075;
  border: none;
  color: #ffffff;
  display: inline-flex;
  margin-left: 145px; /*og 10px */
  margin-top: 15px;  /*og 6px */
  font-size: 35px;  /*og 15px */
  border-radius: 3px;
}

.survey-buttons:hover {
  transition: 300ms;
  transform: scale(1.1,1.1);
  box-shadow: 3px 6px #00000077;
}

.survey-submit {
  background-color: #00000075;
  border: none;
  color: #ffffff;
  font-size: 35px; /*og 15px */
  padding: 10px 25px 10px 25px;
  border-radius: 33px; /*og 3px */
}

.survey-submit:hover{
  background-color:#00ff95c5;
  transition: 500ms;
  transform: scale(1.1,1.1);
  box-shadow: 5px 10px #00000077;
}


.survey-form-items {
  width: 100%;
  padding-left: 20px; /*og 30px */
}
  