.analysis-container {
	right: 10px;
	position: absolute;
	top: 120px;
	z-index: 1;
  }
  
  .analysis-icon {
	background: #3d3900;
	border: none;
	margin-top: 7px;
	margin-left: 5px;
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
  }

  .analysis-icon-front {
	transition: 250ms;
	border: none;
	border-radius: 3px;
	display: block;
	background: #ffee00;
	color: #2f00ff;
	font-size: 30px;
	width: 100%;
	height: 100%;
	transform: translateY(-2px);
  }
  
  .analysis-icon-active {
	background: #8b1616;
	border: none;
	margin-top: 7px;
	margin-left: 5px;
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 3px;
	cursor: pointer;
  }  

  .analysis-icon-front-active {
	transition: 250ms;
	border: none;
	border-radius: 3px;
	display: block;
	background: #ff2929;
	color: #8b1616;
	font-size: 30px;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
  }
  
  .analysis-icon-active:hover .analysis-icon-front-active {
	transition: 250ms;
	transform: translateY(-1px);
  }
  
  .icon-open {
	margin-top: -37px;
  }
  
  .analysis-button {
	transition: 250ms;
	border: none;
	background: #1000bb;
	margin-top: 10px;
	margin-left: 5px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 3px;
	cursor: pointer;
  }
  
  .analysis-button-front {
	transition: 250ms;
	border: none;
	display: flex;
	border-radius: 3px;
	background: #2f00ff;
	font-size: 40px;
	width: 100%;
	height: 100%;
	transform: translateY(-4px);
  }
  
  .analysis-button:hover .analysis-button-front {
	transition: 250ms;
	transform: translateY(-2px);
  }
  
  .analysis-view {
	transition: 250ms;
	border: none;
	background: #1000bb;
	width: 600px;
	height: 350px;
	border-radius: 3px;
  }
  
  .analysis-view-front {
	transition: 250ms;
	border: none;
	display: flex;
	border-radius: 3px;
	background: #2f00ff;
	color: #1000bb;
	font-size: 40px;
	width: 100%;
	height: 100%;
	transform: translateY(-5px);
  }
  
  .analysis-info {
	text-shadow: 0 0 2px #fff562;
	border-radius: 3px;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: 50ms;
	padding-left: 10px;
	margin-top: 40px;
	margin-left: -180px;
	background-color: #002b3b;
	height: 85%;
	width: 95%;
  }
  
  .info-text {
	white-space: normal;
	color: #fff562;
	font-family: monospace;
	letter-spacing: 0.15em;
	font-size: 17px;
  }
  
  .input {
	text-shadow: 0 0 2px #fff562;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	width: 100px;
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 17px;
	letter-spacing: 0.15em;
	color: #fff562;
	font-family: monospace;
	background: #005f8117;
	border: none;
	outline: none;
  }
  
  ::placeholder {
	color: #fff562;
  }
  
  .coords-chosen {
	  position: absolute;
	  left: 15px;
  }

  .radius-button {
	transition-delay: 100ms;
	margin-top: 5px;
	font-size: 30px;
	cursor: pointer;
	color: #1000bb;
  }
  
  .radius-flashing {
	transition-delay: 100ms;
	margin-top: 5px;
	font-size: 30px;
	cursor: pointer;
	color: #1000bb;
	animation: blinker 1s linear infinite;
  }
  
  .radius-active {
	transition-delay: 100ms;
	margin-top: 5px;
	font-size: 30px;
	cursor: pointer;
	color: #00ff2a;
  }
  
  .radius-button:hover {
	transition: 250ms;
	color: #00ff2a;
  }
  
  .stats-button {
	transition-delay: 100ms;
	font-size: 40px;
	cursor: pointer;
	color: #1000bb;
  }

  .info-stats {
	width: 90%;
	position: absolute;
	top: 40px;
	white-space: normal;
	color: #fff562;
	font-family: monospace;;
	letter-spacing: 0.15em;
	font-size: 17px;
  }
  
  .stats-button:hover {
	transition: 250ms;
	color: #fff562;
  }
  
  .graphs-button {
	transition-delay: 100ms;
	font-size: 40px;
	cursor: pointer;
	color: #1000bb;
  }

  .info-graphs {
	width: 90%;
	position: absolute;
	top: 40px;
	white-space: normal;
	color: #fff562;
	font-family: monospace;
	letter-spacing: 0.15em;
	font-size: 17px; 
  }
  
  .graphs-button:hover {
	transition: 250ms;
	color: #00ffea;
  }
  
  .reset-button {
	transition-delay: 100ms;
	font-size: 40px;
	cursor: pointer;
	color: #1000bb;
  }
  
  .reset-button:hover {
	transition: 250ms;
	color: #ff2929;
  }

  .hidden {
	width: 0px;
	visibility: hidden;
  }

  table, th, td {
	border: 1px solid #fff562;
	text-align: left;
  }

  th, td {
	  padding-right: 20px;
	  padding-left: 5px;
  }

  @keyframes blinker {
	50% {
	  color: #00ff2a;
	}
  }
  