.analysis-container {
    position: absolute;
    right: 10px;
    top: 130px;
    z-index: 1;
}

.analysis-close {
    border: none;
    background: #1000bb;
    margin-top: 10px;
    margin-left: 5px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.analysis-close-front {
    border: none;
    display: block;
    border-radius: 3px;
    background: #2f00ff;
    color: #ffee00;
    font-size: 40px;
    width: 40px;
    height: 40px;
    transform: translateY(-5px);
}

.analysis-close:hover .analysis-close-front {
    transform: translateY(-2px);
}