.minimap-container {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 475px;
    margin-top: 0px;
    padding-right: 50px;
    z-index: 1;
}

.survey-ret {
    position: relative;
    text-align: center;
    top: calc(50%);
    color: #1000bb;
    z-index: 2;
}