
.survey {
  display: fixed;
}
  
.survey-icon {
  color: #ffffff;
  font-size: 35px; 
  padding-right: 10px;
  padding-left: 5px;
  cursor: pointer;
}

.survey-icon:hover {
  color: #00ff95;
  transition: 250ms;
}

.survey-close {
  border: none;
  float: left;
  background: #ff292980;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.survey-close-front {
  border: none;
  border-radius: 50%;
  display: block;
  background: #ff2929;
  color: #ffff80;
  font-size: 30px;
  width: 30px;
  height: 30px;
  transform: translateY(-5px);
}

.survey-close:hover .survey-close-front {
  transform: translateY(-2px);
}

.survey-form {
  background-color: #3800d1;
  background-image: linear-gradient(
    to bottom,
    #3800d1,
    #3800d1,
    #3800d1ec,
    #3800d100,
    #3800d100
 ), url("images/cityscape.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 20in;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 100%;
  transition: 350ms;
}

a {
  text-decoration: none;
  font-size: 10px;
}

a:link, a:visited {
  color: #111111;
}

.image-link {
  position: absolute;
  top: 90%;
  left: 10px;
}

.survey-form.active {
  transition: 350ms;
  left: 0%;
}

.survey-category {
  display: flex;
}

.survey-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
}

.survey-header {
  color: #552fff;
  text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000a1;
  font-weight: bold;
  padding-top: 7px;
  font-size: 45px;
}

.survey-subtext {
  width: 600px;
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 15px;
}

.survey-button-container {
  position: fixed;
  margin-left: 400px;
}

.survey-buttons {
  border: none;
  padding: 0;
  margin-left: 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.survey-buttons-front {
  border: none;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000be;
  color: #ffffff;
  border-radius: 3px;
  display: block;
  padding: 0px 25px;
  transform: translateY(-5px);
  cursor: pointer;
}

.survey-buttons:hover .survey-buttons-front {
  transform: translateY(-2px);
}

.survey-submit {
  background-color: #009b5a;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.survey-submit-front {
  background: #00ff95;
  border: none;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 25px;
  display: block;
  color: #111111;
  transform: translateY(-5px);
  cursor: pointer;
}

.survey-submit:hover .survey-submit-front {
  transform: translateY(-2px);
}

.survey-form-items {
  width: 100%;
  padding-left: 20px;
  float: right;
}
