
.survey {
  display: fixed;
}
  
.survey-icon {
  color: #ffffff;
  font-size: 35px; 
  padding-right: 10px;
  padding-left: 5px;
}

.survey-icon:hover {
  color: #00ff95;
  transition: 250ms;
  transform: scale(1.2,1.2);
}

.survey-close {
  color: #ff2929;
  font-size: 30px;
  width: 30px;
}

.survey-close:hover{
  transition: 100ms;
  color: #000000;
}

.survey-form {
  background-color: #3800d1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  transition: 350ms;
  left: 100%;
}

.survey-form.active {
  transition: 350ms;
  left: 0%;
}

.survey-category {
  display: flex;
}

.survey-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.survey-subtext {
  width: 600px;
  color: #ffffff;
  font-size: 15px;
  padding-bottom: 15px;
}

.survey-button-container {
  position: fixed;
  margin-left: 400px;
}

.survey-buttons {
  background-color: #00000075;
  border: none;
  color: #ffffff;
  display: fixed;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  padding: 0px 25px 0px 25px;
}

.survey-buttons:hover {
  transition: 300ms;
  transform: scale(1.1,1.1);
  box-shadow: 3px 6px #00000077;
}

.survey-submit {
  background-color: #00ff95;
  border: none;
  color: #ffffff;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
}

.survey-submit:hover {
  transition: 500ms;
  transform: scale(1.1,1.1);
  box-shadow: 5px 10px #00000077;
}

.survey-form-items {
  width: 100%;
  padding-left: 20px;
  white-space: nowrap;
}
  