
.toolbar-icon {
    color: #ffffff;
    font-size: 27px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    background: none;
}

.toolbar-icon:hover {
    color: #00ff95;
    transition: 250ms;
    transform: scale(1.2,1.2);
}

.toolbar-close {
    color: #ff2929;
    font-size: 20px;
}
  
.toolbar-menu {
    background-color: #000000a8;
    border-top-right-radius: 15px;
    width: 500px;
    height: 100%;
    position: fixed;
    top: 70px;
    left: -1000px;
    transition: 850ms;
}

.toolbar-menu-items {
    padding-left: 30px;
    padding-top: 15px;
}

.toolbar-menu.active {
    left: 0;
    transition: 350ms;
}

.toolbar-item {
    background-color: #00000090;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
}
  
.toolbar-text {
    color: #ffffff;
    font-size: 20px;
}

.toolbar-select-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toolbar-range-container {
    display: grid;
    width: inherit;
    padding-left: 30px;
}

.toolbar-subtext {
    color:#00ff95;
    font-size: 20px;
}

.toolbar-submit {
    background-color: #00ff95;
    border: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.toolbar-submit:hover{
    transition: 500ms;
    transform: scale(1.1,1.1);
    box-shadow: 5px 10px #00000077;
}

.toolbar-clear {
    background-color: #ff2929;
    border: none;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.toolbar-clear:hover {
    transition: 500ms;
    transform: scale(1.1,1.1);
    box-shadow: 5px 10px #00000077;
}



