
.toolbar-icon {
    background: none;
    color: #ffffff;
    font-size: 29px;
    padding-left: 5px;
    padding-right: 10px;
    margin-top: 3px;
}

.toolbar-icon:hover {
    color: #00ff95;
    transition: 250ms;
    transform: scale(1.2,1.2);
}

.toolbar-close {
    color: #ff2929;
    font-size: 20px;
    padding-left: 5px;
    width: 20px;
}

.toolbar-close:hover{
    color: #000000;
    transition: 100ms;
}
  
.toolbar-menu {
    position: fixed;
    background-color: #272727;
    width: 500px;
    height: 100%;
    top: 60px;
    left: -1000px;
    transition: 850ms;
}

.toolbar-menu-items {
    padding-top: 5px;
}

.toolbar-menu.active {
    left: 0;
    transition: 350ms;
}

.toolbar-item {
    background-color: #1b1b1b;
    width: 460px;
    padding: 20px;
}
  
.toolbar-text {
    color: #ffffff;
    font-size: 20px;
}

.toolbar-select-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.toolbar-range-container {
    display: grid;
    width: inherit;
    padding-left: 30px;
}

.toolbar-subtext {
    color:#00ff95;
    font-size: 20px;
}

.toolbar-submit {
    background: #009b5a;
    border: none;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    outline-offset: 4px;
}

.toolbar-submit-front {
    border: none;
    display: block;
    padding: 10px 25px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
    background: #00ff95;
    color: #1b1b1b;
    transform: translateY(-6px);
}

.toolbar-submit:active .toolbar-submit-front {
    transform: translateY(-2px);
  }

.toolbar-clear {
    background-color: #b62929;
    border: none;
    padding: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    outline-offset: 4px;
}

.toolbar-clear-front {
    border: none;
    display: block;
    padding: 10px 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    background: #ff2929;
    color: #1b1b1b;
    transform: translateY(-6px)
}

.toolbar-clear:active .toolbar-clear-front {
    transform: translateY(-2px);
}