  .survey-icon {
	transition: 250ms;
	color: #ffffff;
	font-size: 35px;
	padding-right: 10px;
	padding-left: 5px;
	cursor: pointer;
  }
  
  .survey-icon:hover {
	color: #00ff95;
	transition: 250ms;
  }
  
  .survey-exit-shadow {
	border: none;
	float: left;
	background: #8b1616;
	padding: 0;
	width: 30px;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	border-radius: 50%;
	cursor: pointer;
  }
  
  .survey-exit {
	transition: 500ms;
	border: none;
	border-radius: 50%;
	display: block;
	background: #ff2929;
	color: #ffff80;
	font-size: 30px;
	width: 100%;
	height: 100%;
	transform: translateY(-5px);
  }
  
  .survey-exit-shadow:hover .survey-exit {
	transition: 50ms;
	transform: translateY(-2px);
  }

  .survey-header {
	color: #552fff;
	text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000;
	font-weight: bold;
	padding-top: 7px;
	font-size: 45px;
  }

  .survey-menu {
	background-color: #3800d1;
	background-image: linear-gradient(
		to bottom,
		#3800d1,
		#3800d1,
		#3800d1,
		#3800d100,
		#3800d100
	  ),
	  url("../images/cityscape.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	min-width: 1800px;
	min-height: 1080px;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 50px;
	left: 100%;
	transition: 350ms;
	z-index: 2;
  }
  
  .survey-menu.active {
	transition: 350ms;
	height: 100%;
	left: 0;

  }

  .item-container {
	position: relative;
	margin-left: 50px;
	overflow-x: auto;
	width: 90vw;
  }

  .map-container {
	position: absolute;
	left: 500px;
  }
  
  .form-container {
	position: relative;
  }
  
  .form-item {
	display: flex;
  }
  
  .form-text {
	text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 45px;
  }

  .form-subtext {
	text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000;
	width: 600px;
	color: #ffffff;
	font-size: 15px;
	padding-bottom: 15px;
  }
  
  .survey-button-container {
	position: absolute;
	margin-left: 200px;
  }
  
  .survey-submit-shadow {
	background-color: #00502f;
	border: none;
	border-radius: 5px;
	padding: 0;
  }
  
  .survey-submit {
	transition: 500ms;
	text-shadow: 0px 1px 0px #ffffff05, 0px -1px 0px #000000;
	background: #00ff95;
	border: none;
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 25px;
	display: block;
	transform: translateY(-5px);
	cursor: pointer;
  }
  
  .survey-submit-shadow:hover .survey-submit {
	transition: 50ms;
	transform: translateY(-2px);
  }
  
  .image-link {
	position: relative;
	left: 50px;
  }
  
  a {
	text-decoration: none;
	font-size: 10px;
  }
  
  a:link,
  a:visited {
	color: #111111;
  }
  